fastapi
uvicorn[standard]
httpx
python-dotenv
pydantic
aiofiles       # for file uploads optionally
python-multipart
Pillow         # For PIL/Image support (image processing)
firebase-admin # Firebase Admin SDK for Firestore integration


langchain==1.0.0
langchain-community==0.4.1
sentence-transformers
chromadb
pypdf
unstructured
